test/report/*.txt
tmp.txt
.*.swp
._*
.DS_Store
.vscode
.git
.hg
.lock-wscript
.svn
.wafpickle-*
.vscode
CVS
npm-debug.log
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
node_modules
.lock-wscript
temp
*.tgz